@import "../../sass/variables.scss";
.form_section {
  width: 100%;
  max-width: 350px;
  height: 100%;
  display: flex;
  background-color: transparent;
  overflow: hidden;
  margin: 0 auto;
  padding: .8rem;

  .login_form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    .login_title,
    .login_pharse {
      width: 100%;
      text-align: center;
    }
    .login_title {
      font-size: 2.2rem;
      color: $color_1;
      &::first-letter {
        color: $color_19;
      }
    }
    .login_pharse {
      letter-spacing: 2px;
      color: $color_17;
      font-weight: 600;
      letter-spacing: 2px;
    }
    .wrapper_email {
      width: 100%;
      background: linear-gradient(100deg, $color_2, $color_3, $color_4);
      padding: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      input[type="email"] {
        width: 100%;
        outline: none;
        padding: 10px;
        appearance: none;
        background: $white;
        border: none;
        color: $gray;
        font-size: 1rem;
      }
    }
    .wrapper_password {
      width: 100%;
      background: linear-gradient(100deg, $color_2, $color_3, $color_4);
      padding: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;

      .eyeSlash {
        display: none;
      }
      .eye {
        cursor: pointer;
      }
      div {
        background-color: $white;
        height: 100%;
        min-height: 39px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 4px 0 0;
      }

      input[type="password"],
      input[type="text"] {
        width: 100%;
        outline: none;
        padding: 10px;
        appearance: none;
        background: $white;
        border: none;
        color: $color_1;
        font-size: 1rem;
      }
    }
    justify-content: center;
    .login_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      position: relative;
      a {
        text-wrap: nowrap;
        width: 100%;
        text-align: right;
        font-size: 0.9rem;
        font-weight: 400;
        text-decoration: underline;
        color: $color_19;

        &:active {
          color: $color_1;
        }
      }
      .login_label {
        display: flex;
        align-items: center;
        justify-content: left;
        font-size: 0.8rem;
        text-wrap: nowrap;
        width: 100%;
        text-align: left;
        text-transform: capitalize;
        input[type="checkbox"] {
          width: 40px;
          position: relative;

          &::after {
            content: "remember me";
            width: 150px;
            height: 10px;
            position: absolute;
            right: 0;
          }
        }
      }

      .forgot_password {
        font-size: 0.8rem;
        width: 100%;
        text-align: right;
        text-transform: capitalize;
        font-weight: 400;
        animation: 0.3s ease;
        color: $color_19;

        &:hover {
          transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
          opacity: 0.7;
        }
      }
    }
  }
  .wrapper_btn {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    @media (max-width: 356px) {
      flex-direction: column;
    }
    button {
      width: 150px;
      padding: 10px;
      border: none;
      border-radius: 6px;
      text-align: center;
      font-size: 1rem;
      font-weight: 600;
      outline: none;
      transition: 0.3s ease;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
        transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        scale: 1.1;
      }
    }
    .login_button {
      background-color: $blue;
      color: $white;
      font-weight: 400;
      text-transform: capitalize;
      border: 2px solid $blue;
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
    }
    .login_signup {
      background-color: $white;
      color: $black;
      font-weight: 400;
      text-transform: capitalize;
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    }
  }

  @media (max-width: 338px) {
    max-width: 300px;
  }
}
.login_back {
  width: 100%;
  color: $color_19;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

  @media (max-width: 356px) {
    text-align: center;
  }

  &:hover {
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 0.7;
  }
}
