@import "../../sass/variables.scss";

.forgot_section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;

  .forgot_form {
    width: 100%;
    max-width: 500px;
    display: grid;
    place-items: center;
    justify-content: space-around;
    gap: 1rem;
    height: 100vh;
    .forgot_title {
      text-transform: capitalize;
      font-size: 2.2rem;
      color: $black;
      width: 100%;
      text-align: center;
    }

    .forgot_fieldset {
      border: none;
      width: 100%;
      min-width: 400px;
      height: 100%;
      display: grid;
      place-items: center;
      justify-content: space-around;
      padding: 0 2rem;

      .wrapper {
        border: none;
        border-bottom: 2px solid $blue_medium;
        display: flex;
        align-items: center;
        width: 100%;

        .eyeSlash {
          display: none;
        }

        .eye {
          cursor: pointer;
        }

        input[type="password"],
        input[type="email"],
        input[type="text"] {
          background: $white;
          padding: 8px;
          border: none;
          outline: none;
          font-size: 1rem;
          text-align: left;
          width: 100%;
          min-width: 400px;
          margin-bottom: 10px;
        }
      }

      a {
        font-size: 0.8rem;
        width: 100%;
        text-align: left;
        color: $blue_medium;
        text-transform: uppercase;
        font-weight: 600;
        display: flex;
        align-items: center;
        transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        padding: 0 0 0 5px;

        &:active {
          color: $red_light;
        }

        &:hover {
          opacity: 0.7;
          transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
      }

      button {
        width: 100%;
        padding: 10px;
        border: none;
        background-color: $blue;
        color: $white;
        outline: none;
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

        &:hover {
          transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
          scale: 1.1;
        }
      }
    }
  }
}
