<section class="forgot_section">
  <form class="forgot_form" [formGroup]="form">
    <h1 class="forgot_title">forgot password</h1>
    <fieldset class="forgot_fieldset">
      <div class="wrapper_email">
        <input
          type="email"
          class="forgot_input"
          placeholder="email"
          formControlName="email"
          #email
        />
      </div>
      <div class="wrapper_password">
        <input
          type="password"
          class="forgot_input"
          placeholder="last password"
          formControlName="password"
          #password
        />
        <span (click)="onShowHideLastPassword()" class="wrapper_eyes">
          <ng-icon
            name="heroEyeSolid"
            class="eyeSlash"
            size="20"
            #eyes
          ></ng-icon>
          <ng-icon
            name="heroEyeSlashSolid"
            size="20"
            class="eye"
            #eyesSlash
          ></ng-icon>
        </span>
      </div>

      <div class="wrapper_new_pwd">
        <input
          type="password"
          class="forgot_input"
          placeholder="new password"
          formControlName="newPassword"
          #newpassword
        />
        <span (click)="onShowHideNewPassword()" class="wrapper_eyes">
          <ng-icon
            name="heroEyeSolid"
            #eye
            size="20"
            class="eyeSlash"
          ></ng-icon>
          <ng-icon
            name="heroEyeSlashSolid"
            size="20"
            #eyeSlash
            class="eye"
          ></ng-icon>
        </span>
      </div>
      <app-button
        [name]="name"
        [className]="className"
        [Func]="onUpdatePassword"
      ></app-button>
      <a href="parking/signin" class="< forgot_back">back to signin</a>
    </fieldset>
  </form>
</section>
