<section class="forgot_section">
  <div
    class="card"
    style="
      padding: 1rem;
      width: 100%;
      height: 60px;
      background-color: #f9fcfe;
      position: fixed;
      top: 0;
    "
  >
  </div>
  <form class="forgot_form" [formGroup]="form">
    <h1 class="forgot_title">forgot password</h1>
    <fieldset class="forgot_fieldset">
      <span class="wrapper">
        <input
          type="email"
          class="forgot_input"
          placeholder="email"
          formControlName="email"
          #email
        />
      </span>
      <span class="wrapper">
        <input
          type="password"
          class="forgot_input"
          placeholder="last password"
          formControlName="password"
          #password
        />
        <span (click)="onShowHideLastPassword()">
          <ng-icon
            name="heroEyeSolid"
            class="eyeSlash"
            size="20"
            #eyes
          ></ng-icon>
          <ng-icon
            name="heroEyeSlashSolid"
            size="20"
            class="eye"
            #eyesSlash
          ></ng-icon>
        </span>
      </span>

      <span class="wrapper">
        <input
          type="password"
          class="forgot_input"
          placeholder="new password"
          formControlName="newPassword"
          #newpassword
        />
        <span (click)="onShowHideNewPassword()">
          <ng-icon
            name="heroEyeSolid"
            #eye
            size="20"
            class="eyeSlash"
          ></ng-icon>
          <ng-icon
            name="heroEyeSlashSolid"
            size="20"
            #eyeSlash
            class="eye"
          ></ng-icon>
        </span>
      </span>
      <app-button
        [name]="name"
        [className]="className"
        [Func]="onUpdatePassword"
      ></app-button>
      <a href="parking/signin" class="< forgot_back">back to home</a>
    </fieldset>
  </form>
</section>
