@import "../../sass/variables.scss";

.forgot_section {
  width: 100%;
  max-width: 400px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin: 0 auto;

  .forgot_form {
    width: 100%;
    max-width: 400px;
    display: grid;
    place-items: center;
    justify-content: space-around;
    gap: 1rem;
    height: 100vh;
    padding: 0.7rem;
    .forgot_title {
      text-transform: capitalize;
      font-size: 2.2rem;
      color: $color_1;
      width: 100%;
      text-align: center;

      &::first-letter{
        color: $color_19;
      }
    }

    .forgot_fieldset {
      border: none;
      width: 100%;
      max-width: 400px;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      overflow: hidden;
      gap: 1.5rem;
      padding: 0.8rem;
      .wrapper_email,
      .wrapper_password,
      .wrapper_new_pwd {
        max-width: 400px;
        width: 100%;
        height: auto;
        background: linear-gradient(100deg, $color_2, $color_3, $color_4);
        padding: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;

        .forgot_input {
          width: 100%;
          outline: none;
          padding: 10px;
          appearance: none;
          background: $white;
          border: none;
          color: $color_1;
          font-size: 1rem;
        }
      }
      .wrapper_password,
      .wrapper_new_pwd {
        input[type="password"],
        input[type="text"] {
          width: 100%;
          outline: none;
          padding: 10px;
          appearance: none;
          background: $white;
          border: none;
          color: $color_1;
          font-size: 1rem;
        }
        .wrapper_eyes {
          background-color: $white;
          height: 100%;
          min-height: 39px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 5px 0 0;
          .eyeSlash {
            display: none;
          }

          .eye {
            cursor: pointer;
          }
        }
      }

      a {
        font-size: 0.8rem;
        width: 100%;
        text-align: left;
        color: $color_19;
        text-transform: uppercase;
        font-weight: 600;
        display: flex;
        align-items: center;
        transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        padding: 0 0 0 5px;

        &:active {
          color: $color_1;
        }

        &:hover {
          opacity: 0.7;
          transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
      }
    }
  }
}
