<section class="forgot_section">
  <form class="forgot_form" [formGroup]="form">
    <h1 class="forgot_title">forgot password</h1>
    <fieldset class="forgot_fieldset">
      <span class="wrapper">
        <input
          type="password"
          class="forgot_input"
          placeholder="last password"
          formControlName="lastPassword"
        />
        <span (click)="onShowHideLastPassword(eyes, eyesSlash)">
          <ng-icon
            name="heroEyeSolid"
            class="eyeSlash"
            size="20"
            #eyes
          ></ng-icon>
          <ng-icon
            name="heroEyeSlashSolid"
            size="20"
            class="eye"
            #eyesSlash
          ></ng-icon>
        </span>
      </span>

      <span class="wrapper">
        <input
          type="password"
          class="forgot_input"
          placeholder="new password"
          formControlName="newPassword"
        />
        <span (click)="onShowHideNewPassword(eye, eyeSlash)">
          <ng-icon
            name="heroEyeSolid"
            #eye
            size="20"
            class="eyeSlash"
          ></ng-icon>
          <ng-icon
            name="heroEyeSlashSolid"
            size="20"
            #eyeSlash
            class="eye"
          ></ng-icon>
        </span>
      </span>
      <app-button [name]="name" [className]="className"></app-button>
      <a href="home" class="< forgot_back">back to home</a>
    </fieldset>
  </form>
</section>
