<section class="settings">
  <div class="profile">
    <img [src]="imageSource" alt="photo user" class="photo" />

    <app-button-update-photo
      className="button6"
      class="picture"
      name="upload a picture"
    ></app-button-update-photo>

    <p class="nickname">{{ nickname }}</p>
    <p class="email">{{ emailStatic }}</p>
  </div>
  <form class="form" [formGroup]="form">
    <app-input
      className="text_1"
      type="text"
      content="chistian"
      label="your name"
    ></app-input>
    <app-input
      className="password_1"
      type="password"
      content="Tsdf1@"
      label="password"
    ></app-input>
    <app-input
      className="email_1"
      type="email"
      content="example@outlook.com"
      label="email"
    ></app-input>
    <span class="delete">
      <a href="#" class="delete_account">delete your account</a>
      <span
        >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro magni
        eveniet quisquam, iure cum beatae in autem magnam vero. Aperiam quae
        laborum placeat vitae ullam rerum asperiores dolores minima
        incidunt.</span
      >
    </span>
    <div class="btns">
      <app-button className="button6" name="exit"></app-button>
      <app-button className="button5" name="save changes"></app-button>
    </div>
  </form>
</section>
