@import "../../sass/variables.scss";

.home_container {
  height: 100vh;
  width: 100vw;
  display: grid;

  .home_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: fixed;
    background-color: $white;
    width: 100vw;
    z-index: 1;
    .home_header_title {
      text-transform: capitalize;
      color: $blue;
      font-size: 2.1rem;
    }
    .home_header_list {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 50%;
      gap: 2rem;
      .home_list {
        text-transform: capitalize;
        color: $blue_dark;
        font-size: 1rem;
        cursor: pointer;
        transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        width: 100%;
        text-align: center;
        max-width: 100px;
        padding: 10px;
        border-radius: 20px;
        scale: 1;

        &:hover {
          width: 100%;
          max-width: 100px;
          transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
          color: $white;
          animation: 0.4s linear 1s alternate infinite animaList;
        }
      }

      @keyframes animaList {
        0% {
          scale: 1;
        }
        100% {
          scale: 1.1;
        }
      }
    }
  }
  .home_section_1 {
    height: 100vh;
    max-height: 800px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
    background-image: url("../../../assets/parking-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
    background-color: $color_1;

    .home_title {
      font-size: 2rem;
      text-transform: capitalize;
      color: $white;
      width: 100%;
      word-wrap: break-word;
      position: relative;
      margin-bottom: 1rem;
      &::first-letter {
        font-size: 2rem;
        color: $color_4;
      }
    }
    .home_label {
      color: $white;
      width: 100%;
      font-size: 1.5rem;
      text-align: left;
      &::first-letter {
        text-transform: uppercase;
      }
    }
    .home_pharse {
      color: $color_17;
      font-weight: 600;
      overflow-wrap: break-word;
      text-wrap: wrap;
      width: 400px;
    }
    .home_wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      max-width: 400px;
      gap: 1rem;
      padding: 10px 10px 10px 0;

      .home_discover {
        width: 100%;
        max-width: 150px;
        padding: 10px;
        border: none;
        cursor: pointer;
        outline: none;
      }
      .home_discover {
        background-color: $red_light;
        font-size: 1rem;
        color: $white;
        letter-spacing: 2px;
        border: 2px solid $red_light;
        transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

        &:hover {
          opacity: 0.7;
          scale: 1.1;
          transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
      }
      .home_signup {
        background-color: $blue;
        font-size: 1rem;
        color: $white;
        letter-spacing: 2px;
        border: 2px solid $blue;
        transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        width: 100%;
        max-width: 200px;
        color: $white;
        text-wrap: nowrap;
        padding: 10px;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
          scale: 1.1;
          transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
      }
    }

    @media (max-width: 810px) {
      background-image: none;
      transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .home_title {
        text-align: center;
      }
      .home_label {
        text-align: center;
        width: 100%;
      }
      .home_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
      .home_pharse {
        text-align: center;
      }
    }
    @media (max-width: 398px) {
      .home_wrapper {
        display: grid;
        place-items: center;
        gap: 1rem;
      }
      .home_pharse {
        width: 100%;
        max-width: 300px;
      }
    }
  }
  .home_section_2 {
    height: auto;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $white;
    padding: 1rem 0;
    .home_wrapper_pharses {
      height: auto;
      gap: 1rem;
      padding: 1rem;
      .home_title {
        font-size: 1.5rem;
        color: $blue_dark;
        text-transform: capitalize;
        margin-bottom: 10px;
      }
      .home_pharse {
        font-size: 1rem;
        font-weight: 500;
        width: 100%;
        overflow-wrap: break-word;
      }
    }
    .home_wrapper {
      display: grid;
      padding: 0 10px;
      gap: 1rem;
      .home_card {
        display: grid;
        gap: 1rem;
        background-color: $white;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.25);
        .home_title {
          font-size: 1.2rem;
          color: $red_light;
          text-transform: capitalize;
          position: relative;
          width: 100%;

          &::after {
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $blue;
            bottom: 5px;
            margin-left: 10px;
            position: absolute;
          }
        }
        .home_pharse {
          font-weight: 500;
          overflow-wrap: break-word;
        }
      }
    }
    @media (max-width: 810px) {
      display: grid;
      transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      place-items: center;
      gap: 0;

      .home_wrapper_pharses {
        place-items: center;

        .home_title,
        .home_pharse {
          text-align: center;
        }

        .home_pharse {
          width: 100%;
          max-width: 450px;
        }
      }
    }
  }
  .home_section_3 {
    display: flex;
    height: auto;
    width: 100vw;
    background-color: $color_17;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;

    .testimonial {
      width: 100%;
      max-width: 800px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;

      @media (max-width: 731px) {
        width: 100%;
        max-width: 500px;
      }
      @media (max-width: 502px) {
        width: 100%;
        max-width: 350px;
      }
    }
  }
  .home_section_4 {
    width: 100vw;
    height: 100vh;
    min-height: 1200px;
    padding: 1rem;
    background-image: url("../../../assets/parking-2.jpg");
    background-color: $white;
    background-repeat: no-repeat;
    background-size: 50% 100vh;
    background-position: right;
    background-attachment: fixed;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow: hidden;
    display: grid;
    gap: 1rem;

    @media (max-width: 1240px) {
      background-image: none;
      align-items: center;
      justify-content: center;
      transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }
  .home_footer {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 200px;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;
    background-color: $color_1;

    @media (max-width: 810px) {
      display: grid;
      min-height: 600px;
      grid-template-columns: repeat(2, 1fr);
      place-items: center;
    }

    @media (max-width: 478px) {
      grid-template-columns: repeat(1, 1fr);
      min-height: 800px;
      gap: 1rem;
    }

    .title {
      color: $white;
      border-bottom: 1px dashed $color_19;
      height: 20px;
      width: 100%;
      max-width: 100px;
    }
    .logo {
      height: 100%;
      display: grid;
      place-items: start;
      max-width: 300px;
      width: 100%;

      @media (max-width: 952px) {
        max-width: 200px;
      }

      @media (max-width: 810px) {
        place-items: center;
        .title {
          text-align: center;
        }
      }
      .title {
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: capitalize;
        border: none;

        &::first-letter {
          color: $color_19;
        }
      }
      .copyright {
        font-size: 0.9rem;
        color: $color_17;
      }
    }
    .legal {
      height: 100%;
      max-width: 200px;
      width: 100%;
      display: grid;
      place-items: start;
      @media (max-width: 810px) {
        place-items: center;
        .title {
          text-align: center;
        }
      }
      .title {
        font-size: 1rem;
        font-weight: 600;
        text-transform: capitalize;
      }
      li {
        font-size: 0.9rem;
        color: $color_17;
        transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        cursor: pointer;
        &:hover {
          transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
          color: $color_19;
        }
      }
    }
    .contact {
      height: 100%;
      max-width: 200px;
      width: 100%;
      display: grid;
      place-items: start;
      @media (max-width: 810px) {
        place-items: center;
        .title {
          text-align: center;
        }
      }
      .title {
        font-size: 1rem;
        font-weight: 600;
        text-transform: capitalize;
      }
      li {
        font-size: 0.9rem;
        color: $color_17;

        cursor: pointer;
        transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

        &:hover {
          transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
          color: $color_19;
        }
      }
    }
    .follow {
      height: 100%;
      display: grid;
      width: 100%;
      max-width: 200px;
      @media (max-width: 810px) {
        place-items: center;
        .title {
          text-align: center;
        }
      }
      .title {
        font-size: 1rem;
        font-weight: 600;
        text-transform: capitalize;
      }
      .wrapper_icons {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        .linkedin {
          border-radius: 10px;
          width: 50px;
        }

        .linkedin {
          transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
          background-color: $white;
          cursor: pointer;
          &:hover {
            scale: 1.1;
            transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
          }
        }
      }
    }
  }
}
