<section class="home_container">
  <header class="home_header">
    <h1 class="home_header_title">parking</h1>
    <ul class="home_header_list">
      <li class="home_list" (click)="onRedirectAbout()">about</li>
      <li class="home_list">help</li>
      <li class="home_list">contact</li>
      <li class="home_list" (click)="onRedirectLoginPage()">sign in</li>
    </ul>
  </header>

  <section class="home_section_1">
    <h2 class="home_title">search and compare</h2>

    <p class="home_pharse">
      pre-purchase the perfect spot and have a guaranteed space waiting for you
    </p>

    <span class="home_wrapper">
      <button class="home_discover" (click)="onRedirectDashboard()">
        discover
      </button>
      <button class="home_signup" (click)="onRedirectLoginPage()">
        sign up for free
      </button>
    </span>
  </section>
  <section class="home_section_2">
    <div class="home_wrapper_pharses">
      <h3 class="home_title">enjoy exclusive discounts</h3>
      <p class="home_pharse">
        With our discounts, you can save up to 20% on your parking fees, whether
        you're parking for a few hours or a few days. That's real money that you
        can put towards other things, like gas, groceries, or a night out on the
        town.
      </p>
    </div>

    <span class="home_wrapper">
      <div class="home_card">
        <strong class="home_title">find favorites</strong>
        <p class="home_pharse">
          Parking is the ideal tool to help you find your favorite parking lots
          with ease. With Parking, you can find your favorite parking lots in
          seconds, regardless of where they are located.
        </p>
      </div>
      <div class="home_card">
        <strong class="home_title">free easy</strong>
        <p class="home_pharse">
          Parking is an online tool that allows you to search for free parking
          in your area. The tool uses data from a variety of sources, including
          local governments, parking companies and individual users.
        </p>
      </div>
      <div class="home_card">
        <strong class="home_title">earn points</strong>
        <p class="home_pharse">
          Parking is a versatile platform that can be used by anyone who wants
          to earn points and exchange them for rewards.
        </p>
      </div>
    </span>
  </section>
  <section class="home_section_4">
    <div class="home_wrapper">
      <div class="home_cards">
        <img
          src="../../../assets/fast.svg"
          alt="icon car fast"
          class="home_icon strategic"
        />
        <strong class="home_strong"
          ><span class="home_span">strategic</span> partnerships</strong
        >
        <p class="home_pharse">
          Parking offers a variety of strategic partnerships with local
          businesses, nonprofits and technology companies. These partnerships
          can help you attract new customers, improve the customer experience,
          and increase efficiency.
        </p>
      </div>
      <div class="home_cards">
        <img
          src="../../../assets/grafic.svg"
          alt="icon grafic"
          class="home_icon marketing"
        />
        <strong class="home_strong">
          <span class="home_span">marketing</span>
          ads
        </strong>
        <p class="home_pharse">
          Find parking easily and conveniently with Parking. We offer a variety
          of parking options, including daily, weekly and monthly parking. Our
          parking lots are conveniently located throughout the city, so you can
          find what you need, when you need it.
        </p>
      </div>
      <div class="home_cards">
        <img
          src="../../../assets/box.svg"
          alt="icon box"
          class="home_icon box"
        />
        <strong class="home_strong">
          <span class="home_span">online</span>
          marketplace
        </strong>
        <p class="home_pharse">
          Parking is the online marketplace that offers everything you need to
          grow your business and reach a larger target audience. With
          [Marketplace Name], you can offer high-quality products and services,
          an excellent shopping experience, and expand your business into new
          markets.
        </p>
      </div>
      <div class="home_cards">
        <img
          src="../../../assets/tools.svg"
          alt="icon tools"
          class="home_icon tools"
        />
        <strong class="home_strong"
          ><span class="home_span">tools</span> tech</strong
        >
        <p class="home_pharse">
          Parking is the tech tool that offers everything you need to boost your
          business and achieve success. With [Tool Name], you can automate
          tasks, improve productivity, and drive growth for your business.
        </p>
      </div>
    </div>
  </section>
  <section class="home_section_3">
    <strong class="home_strong">testimonials</strong>
    <h3 class="home_title">what people say about us</h3>
    <img
      src="https://static.vecteezy.com/system/resources/previews/026/930/000/large_2x/ai-generative-positive-serious-millennial-model-girl-home-female-head-shot-portrait-beautiful-young-adult-caucasian-woman-looking-at-camera-posing-in-apartment-front-profile-picture-photo.jpg"
      alt="profile user"
      class="home_perfil_user"
    />
    <p class="home_pharse">
      I've been using the Parking platform for a few months now and I'm very
      pleased with the results. The platform is very easy to use and has helped
      me improve my parking efficiency. I recommend the Parking platform to any
      parking lot owner looking for an efficient and effective parking
      management solution.
    </p>
    <small class="home_name_user">dora curtis</small>
  </section>
  <footer class="home_footer">
    <h4 class="home_title">ready to get start?</h4>
    <p class="home_pharse">
      signup bellow to start growing your bussiness today
    </p>
    <div class="home_wrapper">
      <input type="text" class="home_input" placeholder="white your email" />
      <button class="home_send">send</button>
    </div>
  </footer>
</section>
