<app-header></app-header>

<section class="home_container">
  <section class="home_section_1">
    <h2 class="home_title">search and compare</h2>
    <p class="home_label">all available parking</p>

    <p class="home_pharse">
      pre-purchase the perfect spot and have a guaranteed space waiting for you
    </p>

    <span class="home_wrapper">
      <app-button
        className="button6"
        [name]="discover"
        (click)="onRedirectDashboard()"
      >
      </app-button>
      <app-button
        className="button5"
        [name]="signupFree"
        (click)="onRedirectLoginPage()"
      >
      </app-button>
    </span>
  </section>
  <section class="home_section_2">
    <div class="home_wrapper_pharses">
      <h3 class="home_title">enjoy exclusive discounts</h3>
      <p class="home_pharse">
        With our discounts, you can save up to 20% on your parking fees, whether
        you're parking for a few hours or a few days. That's real money that you
        can put towards other things, like gas, groceries, or a night out on the
        town.
      </p>
    </div>

    <span class="home_wrapper">
      <app-card
        [content]="favorites"
        type="card1"
        name="find favorites"
      ></app-card>
      <app-card [content]="freeEasy" type="card1" name="free easy"></app-card>
      <app-card
        [content]="earnPoints"
        type="card1 "
        name="earn points"
      ></app-card>
    </span>
  </section>
  <section class="home_section_4">
    <app-card
      name="strategic partnerships"
      type="card2"
      content="Parking offers a variety of strategic partnerships with local
      businesses, nonprofits and technology companies. These partnerships
      can help you attract new customers, improve the customer experience,
      and increase efficiency."
    ></app-card>

    <app-card
      name="marketing ads"
      type="card2"
      content="Find parking easily and conveniently with Parking. We offer a variety
      of parking options, including daily, weekly and monthly parking. Our
      parking lots are conveniently located throughout the city, so you can
      find what you need, when you need it."
    ></app-card>
    <app-card
      name="online marketplace"
      type="card2"
      content="Parking is the online marketplace that offers everything you need to
      grow your business and reach a larger target audience. With
      [Marketplace Name], you can offer high-quality products and services,
      an excellent shopping experience, and expand your business into new
      markets."
    ></app-card>
    <app-card
      name="tools tech"
      type="card2"
      content=" Parking is the tech tool that offers everything you need to boost your
      business and achieve success. With [Tool Name], you can automate
      tasks, improve productivity, and drive growth for your business."
    ></app-card>
  </section>
  <section class="home_section_3">
    <div class="testimonial" (scroll)="onScroll($event)">
      <app-testimonial-card
        name="Parking is the tech tool"
        src="../../../assets/parking-1.png"
        pharse="Parking is the tech tool that offers everything you need to boost your
      business and achieve success. With [Tool Name], you can automate
      tasks, improve productivity, and drive growth for your business."
      ></app-testimonial-card>
      <app-testimonial-card
        name="Parking is the tech tool"
        src="../../../assets/parking-1.png"
        pharse="Parking is the tech tool that offers everything you need to boost your
      business and achieve success. With [Tool Name], you can automate
      tasks, improve productivity, and drive growth for your business."
      ></app-testimonial-card>
      <app-testimonial-card
        name="Parking is the tech tool"
        src="../../../assets/parking-1.png"
        pharse="Parking is the tech tool that offers everything you need to boost your
      business and achieve success. With [Tool Name], you can automate
      tasks, improve productivity, and drive growth for your business."
      ></app-testimonial-card>
      <app-testimonial-card
        name="Parking is the tech tool"
        src="../../../assets/parking-1.png"
        pharse="Parking is the tech tool that offers everything you need to boost your
      business and achieve success. With [Tool Name], you can automate
      tasks, improve productivity, and drive growth for your business."
      ></app-testimonial-card>
      <app-testimonial-card
        name="Parking is the tech tool"
        src="../../../assets/parking-1.png"
        pharse="Parking is the tech tool that offers everything you need to boost your
      business and achieve success. With [Tool Name], you can automate
      tasks, improve productivity, and drive growth for your business."
      ></app-testimonial-card>
      <app-testimonial-card
        name="Parking is the tech tool"
        src="../../../assets/parking-1.png"
        pharse="Parking is the tech tool that offers everything you need to boost your
    business and achieve success. With [Tool Name], you can automate
    tasks, improve productivity, and drive growth for your business."
      ></app-testimonial-card>
      <app-testimonial-card
        name="Parking is the tech tool"
        src="../../../assets/parking-1.png"
        pharse="Parking is the tech tool that offers everything you need to boost your
  business and achieve success. With [Tool Name], you can automate
  tasks, improve productivity, and drive growth for your business."
      ></app-testimonial-card>
    </div>
  </section>
  <footer class="home_footer">
    <div class="logo">
      <h4 class="title">parking</h4>
      <p class="copyright">&copy; 2023 | All rights reserved</p>
    </div>
    <ul class="legal">
      <p class="title">legal</p>
      <li class="policies">policies and privacy</li>
      <li class="terms">terms and conditions</li>
    </ul>
    <ul class="contact">
      <p class="title">contact</p>
      <li class="email">parking.io@outlook.com</li>
      <li class="phone">(11) 2523-8965</li>
    </ul>
    <div class="follow us">
      <p class="title">follow us</p>
      <div class="wrapper_icons">
        <img
          src="../../../assets/linkedin.png"
          alt="linkedin logo"
          class="linkedin"
        />
      </div>
    </div>
  </footer>
</section>
