<aside class="sidebar">
    <h1 class="title">parking</h1>
    <div class="wrapper">
      <strong class="menu">menu</strong>
  
      <ul class="list">
        <li class="dashboard">
          <ng-icon name="heroCog8ToothSolid"></ng-icon>
          dashboard
        </li>
        <li class="booking">
          <ng-icon name="heroBookmarkSolid"></ng-icon> booking
        </li>
        <li class="next_services">
          <ng-icon name="heroCheckCircleSolid"></ng-icon> next sevices
        </li>
  
        <li class="transfer_schedule">
          <ng-icon name="heroClockSolid"></ng-icon>
          transfer schedule
        </li>
  
        <li class="service schedule">
          <ng-icon name="heroCalendarDaysSolid"></ng-icon>
  
          service schedule
        </li>
  
        <li class="parking_overview">
          <ng-icon name="heroRectangleGroupSolid"></ng-icon>
  
          parking space overview
        </li>
  
        <li class="payments">
          <ng-icon name="heroCreditCardSolid"></ng-icon>
  
          payments
        </li>
      </ul>
    </div>
  </aside>
  
  