<div class="profile">
  <img
    [src]="image"
    alt="photo profile"
    class="photo"
    (click)="onOpenAndClosed(popup)"
  />

  <div class="popup_none" #popup>
    <span class="wrapper">
      <img [src]="image" alt="photo profile" class="photo" />
      <strong class="name">{{ name }}</strong>
      <p class="email">{{ email }}</p>
    </span>

    <ul class="list">
      <li class="opt" (click)="Profile()">
        <ng-icon name="heroUserSolid" size="25"></ng-icon>
        view profile
      </li>
      <li class="opt" (click)="Settings()">
        <ng-icon name="heroCogSolid" size="25"></ng-icon>

        account settings
      </li>

      <li class="opt">
        <ng-icon name="heroBoltSolid" size="25"></ng-icon>

        keyboard shortcuts
      </li>
      <li class="opt" (click)="onRedirectApp()">
        <ng-icon name="heroArrowRightOnRectangleSolid" size="25"></ng-icon>
        log out
      </li>
    </ul>
  </div>
</div>
