$white: #f9fcfe;
$blue_light: #a3cef0;
$blue_medium: #61a4e1;
$blue_dark: #172045;
$blue: #3262ba;
$blue_medium2: #388cdc;
$red_light: #c66966;
$teal: teal;
$gray: #2d2d2d;
$cyan: cyan;
$black: #000;
