$white: #f9fcfe;
$blue_light: #a3cef0;
$blue_medium: #61a4e1;
$blue_dark: #172045;
$blue: #3262ba;
$blue_medium2: #388cdc;
$red_light: #c66966;
$teal: teal;
$gray: #2d2d2d;
$cyan: cyan;
$black: #000;

$color_1: #07070a;
$color_2: #593154;
$color_3: #bc248c;
$color_4: #f75f8c;
$color_5: #d3b8ba;
$color_6: #de2d66;

$color_7: #040406;
$color_8: #573856;
$color_9: #c83066;
$color_10: #6f0993;
$color_11: #d89372;
$color_12: #baa5a9;
$color_13: #795d9b;

$color_14: #101015;
$color_15: #393346;
$color_16: #55555a;
$color_17: #aaaaad;
$color_18: #667797;
$color_19: #df2e59;
$color_20: #6b38a9;

$color_21: #0a0a0e;
$color_22: #3b3546;
$color_23: #c7379c;
$color_24: #525258;
$color_25: #53282d;
$color_26: #8387a1;
$color_27: #d34344;
