@import "../../sass/variables.scss";

.help {
  height: 100%;
  min-height: 500px;
  width: 100%;
  min-width: 1050px;
  background-color: $white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 1rem 0;
  gap: 1rem;
  .wrapper {
    overflow: hidden;
    height: auto;
    overflow-y: scroll;
    display: grid;
    max-height: 400px;
    padding: 10px;
  }
}
